@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/responsive.scss";

.footer-tittle{
    min-height: 34px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.7px;
    display: flex;
    align-items: center;
    justify-content: center;
}